<%- include("header.ejs") %>
<div class="portrait">
    <div class="item1">
     <img class="image" src="/images/img3.png" width="530px" height="500px"/>
    </div>
    <div class="item2">
        <div class="home">
         <h1>Navigate Life</h1>
         <p>Get practical advice and support to help you thrive in every aspect of your life.</p>
         <form action="/advice" method="get">
          <button type="submit" class="btn">Get Advice</button>
         </form>



   
</div>



<%- include("footer.ejs")  %>